.logoTop {
    height: 24px;
    width: 157px;
    background-image: url(../../public/brand-logo.svg);
    background-repeat: no-repeat;
    display: flex;
    place-content: center;
    place-items: center;
}